:root {
    --pink-color: #FE5D86;
    --apricot-color: #FDC387;
    --peach-color: #FF9D85;

}

body {
    /* background-color: transparent; */
}

.gradient-vertical {
    background: linear-gradient(180deg, var(--pink-color) 50%, var(--apricot-color));
}

.gradient-horizontal {
    background: linear-gradient(90deg, var(--pink-color) 50%, var(--apricot-color));
}

.underline-gray {
    border-bottom: 1px solid var(--outline-gray)
}